body {
    background: #666;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../images/texturetastic_gray.png")
}

p {
    line-height: 2em;
    font-size: 1.5em;
}

img {
    height: 200px;
    width: 200px;
}

.container {
    max-width: 960px;
}

.main-content {
    border: #ddd solid 2px;
    box-shadow: 2px 2px 11px 11px rgba(74, 170, 165, .15);
}

.border-bottom-2 {
    border-bottom: #ddd solid 2px;
}

.fixed-bottom {
    height: 50px;
    border-top: #ddd solid 2px;
    
}